extends index.pug

block main_content
    .col-lg-2
    .col-lg-8
        .row(style="text-align:center")
            .col-md-4
                .row
                    a(href="/mideplast") Mideplast
            .col-md-4
                .row
                    a(href="/3plus") 3PLUS
            .col-md-4
                .row
                    a(href="/freja") FREJA
    .col-lg-2
